CONTENIDO XML/EJERCICIOS/Ejercicio DTD y XML Schema 2/ejercicios DTD/EJ-1/listin.dtd

<!ELEMENT listin (persona)+>
<!ELEMENT persona (nombre,email*,relacion?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT relacion (#EMPTY)>
<!ATTLIST persona 
			id ID #REQUIRED
			sexo (hombre|mujer) #IMPLIED>
<!ATTLIST relacion
			amigo_de CDATA #IMPLIED
			enemigo_de CDATA #IMPLIED>